/* The container for the wave animation */
.wave-container {
  position: relative; /* establish containing block for absolutely positioned children */
  /* width: 400px; */
  /* height: 400px; */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(2, 128, 144, 0.2);
}

.wave-container::before,
.wave-container::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

.wave-container::before {
  left: -10%;
  top: 20%;
  background-color: rgba(69, 105, 144, 0.15);
  animation: wawes 8s infinite linear;
}

.wave-container::after {
  left: -10%;
  top: 20%;
  background-color: rgba(2, 128, 144, 0.2);
  animation: wawes 10s infinite;
}

/* The form itself */
.login {
  overflow: hidden;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  /* width: 400px; */
  transition: transform 300ms, box-shadow 300ms;
  /* box-shadow: 0px 10px 10px rgba(2, 128, 144, 0.2); */
}

.login > input {
  font-family: "Asap", sans-serif;
  display: block;
  /* border-radius: 5px; */
  font-size: 16px;
  /* background: white; */
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px 0px;
}

@keyframes wawes {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
