@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mottona";
  src: url("/fonts/mottona.otf");
}

.fullscreenImage {
  @apply w-screen h-screen object-cover object-center will-change-transform;
}

/* Hide scrollbar for Chrome, Safari and Opera */

/* ::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */

/* html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
